<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//unpkg.com/alpinejs" defer></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="/app/assets/deps/markdown-it.min.js"></script>
	<script src="/app/assets/deps/markdown-it-math.min.js"></script>
	<title>edt</title>
	<script>
		document.addEventListener("alpine:init", () => {
			Alpine.store("dir", {
				async init() {
					this.value = localStorage.getItem("dir") || null
					while (!this.value) {
						alert("Please select a directory.")
						await this.askForDir()
					}
				},
				value: null,
				async askForDir() {
					let dir = await selectDir()
					if (dir != null) {
						localStorage.setItem("dir", dir)
						this.value = dir
					}
				}
			})
			Alpine.store("filecontent", "")
		})
	</script>
	<script>
		const md = markdownit().use(markdownitMath)
	</script>
	<script>
		setInterval(() => {
			fetch("/keepalive")
		}, 5000)

		// -> Promise<string|null>
		async function selectDir() {
			try {
				let dir = await (await fetch("/selectdir")).text()
				return dir
			} catch {
				return null
			}
		}

		// File = {type: "File"}
		// Dir = {type: "Dir": children: [string, File|Dir][]}
		// string -> Promise<Dir|null>
		async function readDir(path) {
			try {
				let value = await (await fetch("/readdir" + path)).json()
				return value
			} catch(e) {
				console.warn(e)
				return null
			}
		}

		// string, string -> Promise<boolean>
		async function writeFile(path, content) {
			try {
				let value = await fetch("/writefile" + path, {
					method: "POST",
					body: content,
				})
				if (!value.ok) {
					return false
				}
				return true
			} catch(e) {
				console.warn(e)
				return false
			}
		}

		// string -> Promise<boolean>
		async function deleteFile(path) {
			try {
				let value = await fetch("/deletefile" + path, {
					method: "DELETE",
				})
				if (!value.ok) {
					return false
				}
				return true
			} catch(e) {
				console.warn(e)
				return false
			}
		}

		// string, string -> Promise<boolean>
		async function renameFile(path, newPath) {
			try {
				let file = await readFile(path)
				if (file == null) {
					return false
				}
				if (writeFile(newPath, file) == false) {
					return false
				}
				if (deleteFile(path) == false) {
					return false
				}
				return true
			}
			catch {
				return false
			}
		}

		// Dir -> string[]
		function flatDir(dir) {
			let items = dir.value.map(([path, value]) => {
				if (value.type == "File") {
					return path
				} else {
					return flatDir(value)
				}
			})
			return items.flat(Infinity)
		}

		// string -> string[]
		async function getMdFiles(path) {
			let files = flatDir(await readDir(path))
			return files.filter(file => file.endsWith(".md"))
		}

		// string -> Promise<String|null>
		// TODO: Fail on null
		async function readFile(path) {
			try {
				let res = await fetch("/readfile" + path)
				if (!res.ok) {
					return null
				}
				return await res.text()
			} catch(e) {
				console.warn(e)
				return null
			}
		}

		// string -> string
		function simplify(str) {
			return str.toLowerCase().normalize("NFD").replace(/[^a-z]/g, "")
		}

		// string, string -> string
		function relativeTo(path, relativeTo) {
			let dir = relativeTo.split('/').slice(0, -1)
			let file = path.split('/').filter((x) => {
				if (x == "..") {
					dir.pop()
				}
				return x != "." && x != ".."
			})
			return dir.concat(...file).join('/')
		}
	</script>
	<style type="text/css">
		.noscrollbar {
			scrollbar-width: none;
			-ms-overflow-style: none;
		}
		.noscrollbar::-webkit-scrollbar {
			display: none;
		}
	</style>
</head>
<body class="overflow-hidden h-screen">
	{%- from "_includes/searcher.njk" import searcher -%}
	{%- from "_includes/overlay.njk" import overlay -%}
	<div 
	    x-data="{
          selectedFile: null,
          content: '',
          changed: false,
          wordCount: 0,
          changeFile(file) {
              if (this.changed && !confirm('You have unsaved changes. Are you sure you want to continue?')) {
                  return
              }
              this.selectedFile = file;
              this.changed = false;
              document.getElementById('textarea').focus()
          },
        }"
		  x-effect="content = ((await readFile(selectedFile || '')) || '').slice(0, -1)"
		  x-init="window.addEventListener('beforeunload', (e) => {if (!$data.changed) return; e.returnValue = 'Unsaved changes!'; return 'Unsaved changes!'})"
	>
		<div x-effect="wordCount = content.split(/[\s,\.:;\-_#\\]+/).filter(Boolean).length"></div>
		<div 
			x-data="{width: 50, grabbing: false}"
			class="flex items-stretch content-stretch w-screen h-screen"
		>
			<textarea 
				x-model="content"
				class="p-4 resize-none noscrollbar bg-slate-800 text-slate-400"
				:style="`width: ${width}vw`"
				@input="changed = true"
				placeholder="Press Ctrl+M"
				@keydown.window.prevent.ctrl.s="changed = false; writeFile(selectedFile, content + '\n')"
				:disabled="selectedFile == null"
				id="textarea"
			></textarea>
			<div 
				class="w-1 bg-slate-600 hover:cursor-move"
				@mousemove.window="if (grabbing) width = $event.clientX * 100 / window.innerWidth"
				@mousedown="grabbing=true"
				@mouseup.window="grabbing=false"
			></div>
			<div 
				class="bg-slate-700 overflow-x-hidden overflow-y-auto noscrollbar min-w-0 pb-6"
				:style="`width: ${100 - width}vw`"
				x-data="{onBottom: false}"
				@scroll="onBottom = $event.target.scrollTop >= $event.target.scrollHeight - $event.target.clientHeight - 5"
				x-effect="content; if(onBottom) setTimeout(() => {$el.scrollTop = $el.scrollHeight}, 10)"
				@click="if ($event.target.tagName == 'A' && $event.target.attributes.href.value.startsWith('.')) {
							let file = relativeTo($event.target.attributes.href.value, selectedFile)
							changeFile(file)
							$event.preventDefault();
						}"
			>
				<style type="text/css" scoped>
					#rendered * {
						all: revert;
						color: #94a3b8; /* Slate 500 */
					}
					#rendered h1, #rendered h2, #rendered h3, #rendered h4, #rendered h5, #rendered h6 {
						color: #cbd5e1; /* Slate 300 */
					}
				</style>
				<div class="px-6" x-html="md.render(content)" id="rendered"></div>
			</div>
		</div>
		{{ searcher(
			"(file) => changeFile(file)",
			"(file) => {let newFile = prompt('Rename ' + file.slice($store.dir.value.length + 1) + ' (Or leave empty to cancel)'); if(newFile != '') {renameFile(file, $store.dir.value + '/' + newFile)} }",
			"(file) => {if(confirm('Delete ' + file.slice($store.dir.value.length + 1) + '?')) deleteFile(file)}"
		) }}
		{{ overlay("changed", "selectedFile != null ? selectedFile.slice($store.dir.value.length + 1) : ''", "wordCount") }}
	</div>
</body>
