{% macro overlay(changed, selectedFile, wordCount) %}
<div class="fixed bottom-0 right-0 flex p-2 rounded">
	<p x-text="`${ {{ selectedFile }} || 'No file' }, ${ {{ wordCount }} } words`" class="text-slate-400"></p>
	<div x-show="{{ changed }}" class="w-3 h-3 rounded-full bg-slate-200 z-10 m-2 ml-3"></div>
</div>
{% endmacro %}
